<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>REVIEW</h1></center>
    <form action="/review/">
        <table align="center">
           
            <tr><td>Medicine Name</td><td><input type="text" name="medname"></td></tr>
            <tr><td>Date</td><td><input type="date" name="date"></td></tr>
            <tr><td>Review</td><td><textarea name="review"></textarea></td></tr>
           
            <tr><td colspan="2" align="center"><input type="submit" value="Submit"></td></tr>

        </table>
    </form>
</body>
</html>