<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>medicine details</h1>
    <table align="center" border="1" >
  
    
        <tr>
    
           
            <th>Name</th>
            <th>Used for</th>
            <th>Mg</th>
            <th>Dosage</th>
            <th>Compopnents</th>
            <th>Side effects</th>
            <th>Prescription / Non Prescription</th>
            <th>Packaging type / Size</th>
            <th>Image</th>
            <!-- <th>Action</th> -->
        </tr>
        {% for u in tk %}
        <tr>
           
            <td>{{u.name}}</td>
            <td>{{u.used}}</td>
            <td>{{u.mg}}</td>
            <td>{{u.dosage}}</td>
            <td>{{u.cmp}}</td>
            <td>{{u.effects}}</td>
            <td>{{u.pres}}</td>
            <td>{{u.pack}}</td>
            <td><img src="/media/{{u.image}} " style="height: 150px; width: 100px;"/></td>
        
    
        </tr>
        
        {% endfor %}
    </table>    
</body>
</html>